/* COLORS BGCOLOR: #a2faff; COLOR:#ff1674;  */

*{
    box-sizing: border-box;
    
}
body{
    background-color: #a2faff;
    color: #ff1674;
    font-size: 20px;
    font-weight: 700;
    
}
/*----------------------------------- IMAGES----------------------------------------- */
#img-contain img{
    max-width:100%;
    width: 300px;
    height: 250px;
}
#bottom-img{
    width: 250px;
    height:180px;
    background-color: transparent;
}
#funny-img{
    width: 350px;
    height: 300px;
    position: absolute;
    right:120px;
    top:-20px;
}
#gif-content img{
    width:200px;
    height:150px;   
    border: 3px solid #ff1674; 
    margin-top:20px;
    border-radius:5px;
}
/* -------------------------------FORM-------------------------------------------- */
form{
    padding-left:10px;
    padding-top:60px;
}
#form-content{
    width:20%;
}
/* -----------------------------BUTTONS--------------------------------------------- */
button{
    background-color: #ff1674 !important;
    color: #a2ffdd !important;
    /* font-weight:700; */
}
#button-content{
    position: relative;
}
#btn-submit{
    border:0;
    padding:8px;
    border-radius:10px;
    width:100px;
}
#btn-content button{
    /*pink buttons #ff1674 */
    /*font color inside pink  a2ffdd */
    margin-top:30px;
    margin-right: 30px;
}
/* ------------------------------------CONTENT AREA--DIVS and P------------------------------------------ */
.style-p{
    background-color: #ff1674;
    border-radius:5px;
    color:#fff;

}

#gif-content{
    width:70%;
    height: auto;
    
}

#gif-content div #count-down{
 
    width:700px;
    height:500px;
    margin-bottom:40px;
}
#mar-down{
    margin-bottom:80px;
}
#gif-content div{
    width:200px;
    height:150px;
    display: inline-block;
    margin-right:20px;
    margin-bottom:20px;
}
#special{
    padding-left:60px;
}

@media (max-width:575px) and (min-width:200px) {
  
    /* images to occupy half screen size each */
    #eat-me{
        max-width:100%;
        height:auto;
        
    }
    #funny-img{
        display:none;
    }
    /* buttons to take 100% screen width */
    #btn-content{
        width:100%;
    }
    /* form takes 100% */
    #form-content{
        width:100%;
    }
    #special{
        margin-top:50px;
    }
    /* gif content takes 100% */
    #gif-content,#count-down{
        width:100%;
    }
  }